#hidden{
    display:none;
}

#end{
    display:none;
    font-style:italic;
}
body{
    background:url("../images/coffee.jpeg");
    background-repeat:no-repeat;
    background-size:cover;
    width:1100px;
    
}

#content{
    color:darkred;
    font-size:40px;
}

#main{
    background-color: gainsboro;
    text-align:center;
    border: 1px solid black;
    margin:200px;
    margin-top:20px;
    padding-bottom:30px;
    width:95%;
}

#submit, #start{
    width:120px;
    height:40px;
    font-size:30px;
    font-weight:bold;
    border:1px solid black;
    color:burlywood;
}

h1{
    font-size:60px;
    color:brown;
}

#time{
    font-size:30px;
    color:red;
    font-weight:bold;
}
#remain{
    font-size:30px;
}
iframe{
    display:none;
    margin-left:400px;
   
}
#pic{
    margin-left:450px;
}

@media screen and (max-device-width: 480px) and (orientation:portrait) {
    #main{
        width:90%;
        margin-left:0px;
    }
    iframe{
       position:relative;
       left:80px;
    }
    #submit{
        width:150px;
        text-align:center;
        font-size:25px;
    }
   
 
    #pic{
       position:relative;
       right:90px;
       margin:0;

        
    }

} 

@media screen and (max-width:640px){
    #main{
        width:500px;
        margin-top:120px;
        margin-left:5px;
        margin-right:5px;
    
    }
    iframe{
       position:relative;
    }
    #pic{
        margin-right:100px;
        position:absolute;
        top:500px;
        right:20px;
        width:90%;
    }
    body{
        background:cover;
        margin-bottom:100%;
        width:100px;
    }
    
}









