#hidden{
    display:none;
}

#end{
    display:none;
    font-style:italic;
}
body{
    background:url("../images/coffee.jpeg");
    background-repeat:no-repeat;
    background-size:cover;
    
}

#content{
    color:darkred;
    font-size:40px;
}

#main{
    background-color: gainsboro;
    text-align:center;
    border: 1px solid black;
    margin:280px;
    margin-top:20px;
    padding-bottom:30px;
}

#submit, #start{
    width:120px;
    height:40px;
    font-size:30px;
    font-weight:bold;
    border:1px solid black;
    color:burlywood;
}

h1{
    font-size:60px;
    color:brown;
}

#time{
    font-size:30px;
    color:red;
    font-weight:bold;
}
#remain{
    font-size:30px;
}
iframe{
    display:none;
    margin-left:150px;
}
@media screen and (max-device-width: 480px) and (orientation:portrait) {
    #main{
       width:95%;
    }
    iframe{
        margin-right:80px;
    }
    #submit{
        width:150px;
    }
    iframe{
        position:relative;
        right:80px;
    }

} 

@media screen and (max-width:640px){
    #main{
        width:90%;
        margin:5px;
        margin-right:30px;
        padding:15px;
        margin-top:120px;
    }
    iframe{
       position:relative;
       right:80px;
       
    }
    body{
        background-size:cover;
        margin-bottom:100%
    }
}






